h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

/* 
    a:hover { color: black; }
    add hover colour after figuring out the colour scheme for site 
*/

/* Desktop */
@media (min-width: 1200px) {
    img {
        border: 0.2rem solid rgb(2, 6, 255);
        padding: 0.5rem;
        border-radius: 2rem;
        width: auto;
        height: 50%;
    }

    .flex-container {
        /* temporary colour */
        background-color: aqua;
        display: flex;
        padding: 2.5rem;
        width: 50%;
        margin: 10rem auto 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .description h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: -0.5rem;
        padding-left: 1.5rem;
    }
    
    .description p {
        margin: 1;
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    .links { padding-top: 12rem; text-align: center; }
    
    .links a { 
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        /* add text colour after figuring out the colour scheme for site */
    }
}

/* TODO: Mobile */
@media (max-width: 1199px) {

    img {
        border: 0.2rem solid rgb(2, 6, 255);
        border-radius: 2rem;
        width: auto;
        height: auto;
        margin: auto;
        display: block;
        position: relative;
        top: 1rem;
    }

    .flex-container {
        /* temporary colour */
        background-color: aqua;
        width: auto;
    }

    .description { position: relative; top: 1rem; }
    
    .description h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: -0.5rem;
    }
    
    .description p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -1.5rem;
    }

    .links { margin-bottom: auto; padding-bottom: 3rem; text-align: center; position: relative; top: 1rem; }
    
    .links a { 
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        /* add text colour after figuring out the colour scheme for site */
    }

}
