h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

/* 
    a:hover { color: black; }
    add hover colour after figuring out the colour scheme for site 
*/

/* Desktop */
@media (min-width: 1000px) {
    img {
        border: 0.1rem solid rgb(2, 6, 255);
        padding: 0.5rem;
        border-radius: 2rem;
        width: auto;
        height: 50%;
    }

    .flex-container {
        /* temporary colour */
        background-color: aqua;
        display: flex;
        flex-direction: row;
        padding: 2.5rem;
        width: 60%;
        margin: 10rem auto 0 auto;
        margin-top: auto;
    }
    
    .description h1 {
        margin: 0;
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        display: flex;
        flex-direction: row;
    }
    
    .description p {
        margin: 1;
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }

    .links { margin-bottom: auto; }
    
    .links a { 
        margin-bottom: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        /* add text colour after figuring out the colour scheme for site */
    }
}

/* TODO: Mobile 
@media (max-width: 999px) {

}
*/