@import "/css/bulma.min.css";

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 { 
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#1b1a1a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.5rem;
    background: linear-gradient(-45deg, #40e7fd, #40a8fd, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    display: flex;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a { 
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
a:visited{ color: white; }

/* Desktop */
@media (min-width: 1200px) {

    img {
        border: 0.2rem solid #474747;
        border-radius: 2rem;
        width: auto;
    }
    
    .content-container {
        border-radius: 2rem;
        background-color: #97d2ef;
        display: flex;
        flex-direction: row;
        padding: 2.5rem;
        width: 72rem;
        margin: auto;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1.5rem;
        text-align: center;
    }

    .card-container h1 {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: -0.5rem;
        padding-left: 1.5rem;
        align-self: center;
    }

    .card-container p {
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Mobile */
@media (max-width: 1199px) {

    img {
        border: 0.2rem solid #474747;
        border-radius: 2rem;
        width: auto;
        height: auto;
        margin: auto;
        display: block;
        position: relative;
        top: 1rem;
    }

    .content-container {
        border-radius: 2rem;
        background-color: #97d2ef;
        width: auto;
        padding: 1rem 2rem 3rem 2rem;
        margin: auto;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1.5rem;
        text-align: center;
    }
    
    .card-container h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: 1.5rem;
    }
    
    .card-container p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -1.5rem;
    }

}
