h1 {
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 1rem;
    color:#1b1a1a
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}

a:hover { color: #4069fd; }

/* Desktop */
@media (min-width: 1200px) {
    img {
        border: 0.2rem solid #474747;
        padding: 0.5rem;
        border-radius: 2rem;
        width: auto;
        height: 50%;
    }

    .flex-container {
        border-radius: 2rem;
        background-color: #97d2ef;
        display: flex;
        padding: 2.5rem;
        width: 50%;
        margin: 10rem auto 0 auto;
        align-items: center;
    }
    
    .description h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: -0.5rem;
        padding-left: 1.5rem;
    }
    
    .description p {
        margin: 1;
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    .links { padding-top: 12rem; text-align: center; }
    
    .links a { 
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }
}

/* TODO: Mobile */
@media (max-width: 1199px) {

    img {
        border: 0.2rem solid rgb(2, 6, 255);
        border-radius: 2rem;
        width: auto;
        height: auto;
        margin: auto;
        display: block;
        position: relative;
        top: 1rem;
    }

    .flex-container {
        /* temporary colour */
        background-color: aqua;
        width: auto;
    }

    .description { position: relative; top: 1rem; }
    
    .description h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: -0.5rem;
    }
    
    .description p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -1.5rem;
    }

    .links { margin-bottom: auto; padding-bottom: 3rem; text-align: center; position: relative; top: 1rem; }
    
    .links a { 
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        /* add text colour after figuring out the colour scheme for site */
    }

}
