h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#1b1a1a;
}

h3 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#1b1a1a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.5rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    flex-direction: column;
    align-items: center;
}

a { 
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}
a:visited{ color: blue; }
a:hover { color: #4069fd; }

/* Desktop */
@media (min-width: 1200px) {
    img {
        border: 0.2rem solid #474747;
        border-radius: 2rem;
        width: auto;
    }

    .header-container {
        margin-top: -1.5rem;
        margin-bottom: -1rem;
    }
    
    .header-container h1 {
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        color:#1b1a1a;
    }
    
    .content-container {
        border-radius: 2rem;
        background-color: #97d2ef;
        display: flex;
        flex-direction: row;
        padding: 2.5rem;
        width: 60%;
        height: auto;
        margin: auto;
    }
    
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1.5rem;
        text-align: center;
    }

    .card-container h1 {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: -0.5rem;
        padding-left: 1.5rem;
        align-self: center;
    }

    .card-container p {
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Mobile */
@media (max-width: 1199px) {

    img {
        border: 0.2rem solid #474747;
        border-radius: 2rem;
        width: auto;
        height: auto;
        margin: auto;
        display: block;
        position: relative;
        top: 1rem;
    }

    .content-container {
        border-radius: 2rem;
        background-color: #97d2ef;
        width: auto;
    }

    .card-container { position: relative; top: 1rem; }
    
    .card-container h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        margin-top: 0.5rem;
    }
    
    .card-container p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -1.5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .links { margin-bottom: auto; padding-bottom: 3rem; text-align: center; position: relative; top: 1rem; }
}
