@font-face {
  font-family: 'icomoon';
  src:  url('/static/icomoon/icomoon.eot?61yzhq');
  src:  url('/static/icomoon/icomoon.eot?61yzhq#iefix') format('embedded-opentype'),
    url('/static/icomoon/icomoon.ttf?61yzhq') format('truetype'),
    url('/static/icomoon/icomoon.woff?61yzhq') format('woff'),
    url('/static/icomoon/icomoon.svg?61yzhq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\ea40";
}
.icon-brush:before {
  padding-right: 0.5rem;
  content: "\e907";
}
.icon-game:before {
  padding-right: 0.5rem;
  content: "\e904";
}
.icon-paste:before {
  padding-right: 0.5rem;
  content: "\e908";
}
.icon-servers:before {
  padding-right: 0.5rem;
  content: "\e906";
}
.icon-matrix:before {
  padding-right: 0.5rem;
  content: "\e900";
}
.icon-discord:before {
  padding-right: 0.5rem;
  content: "\e901";
}
.icon-home:before {
  padding-right: 0.5rem;
  content: "\e902";
}
.icon-yt:before {
  padding-right: 0.5rem;
  content: "\e912";
}
.icon-book:before {
  padding-right: 0.5rem;
  content: "\e91f";
}
.icon-credits:before {
  padding-right: 0.5rem;
  content: "\e923";
}
.icon-download:before {
  padding-right: 0.5rem;
  content: "\e933";
}
.icon-contact:before {
  padding-right: 0.5rem;
  content: "\e942";
}
.icon-group:before {
  padding-right: 0.5rem;
  content: "\e972";
}
.icon-cloud:before {
  padding-right: 0.5rem;
  content: "\e9c1";
}
.icon-info:before {
  padding-right: 0.5rem;
  content: "\ea0c";
}
.icon-twitter:before {
  padding-right: 0.5rem;
  content: "\ea96";
}
.icon-twitch:before {
  padding-right: 0.5rem;
  content: "\ea9f";
}
