@import "/static/icomoon/icomoon.css";

body {
    background: linear-gradient(-45deg, #40e7fd, #40a8fd, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
    min-height: 100vh;
}

.seperator {
    font-family: 'Roboto', arial, sans-serif;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

img {
    border: 0.2rem solid #474747;
    border-radius: 2rem;
    width: 100%;
}

a { font-size: 1.4rem; }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
